body{

background-color:aliceblue;

}

a{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;

}

div{

    margin-left: 45%;
    margin-top: 20%;

}